<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head>
    <title>Quizzer</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link type="text/css" rel="stylesheet" href="/bootstrap.min.css" th:href="@{/bootstrap.min.css}" />
</head>

<body style="padding: 15px">
    <div class="container">
        <h1 class="mb-3">Add a quiz</h1>
        <form th:object="${quiz}" th:action="@{addquiz}" method="post">
            <div class="mb-3">
                <label class="form-label" for="name">Name</label>
                <input class="form-control" type="text" id="name" th:field="*{name}">
            </div>
            <div class="mb-3">
                <label class="form-label" for="description">Description</label>
                <textarea class="form-control" rows="2" id="description" th:field="*{description}"></textarea>
            </div>
            <div class="form-check mb-3">
                <input class="form-check-input" type="checkbox" id="published" th:field="*{published}">
                <label class="form-check-label" for="published">Published</label>
            </div>
            <input class="btn btn-primary" type="submit" value="Save" />
            <a class="btn btn-secondary " href=/quizzes>Cancel</a>
        </form>
    </div>
</body>

</html>